{% extends 'xmlreader/base.html' %}

{% block content %}
<div class="container">
  <h1>About XML Reader</h1>
  <p>This is a tool I have developed to help decode the DMARC files I am getting since we implemented DMARC for the Django Girls domain. They come in XML format 
    which is not readable to humans. The app helps me convert the XML files into a dict which I then present on the HTML page using the dict keys.</p>

    <p>This is the first version. For more information on it's usage, please see the README.md file in the project root folder.</p>
</div>
{% endblock %}
